In [1]:
1+1

In [2]:
2**3

In [3]:
import math

In [4]:
math.sin(3)

In [5]:
math.sqrt(4)

In [6]:
math.pi

In [7]:
math.sin(math.pi)

1.2246467991473532e-16

In [8]:
print(math.sqrt(4))

2.0

In [9]:
print('the square root of 4 is', math.sqrt(4))

the square root of 4 is 2.0

In [10]:
temp_celcius = 10.0
print(temp_celcius)

10.0

In [11]:
print('temp in fahrenheit:', temp_celcius * 9/5 + 32)

temp in fahrenheit: 50.0

In [12]:
name = 'Mark Is Bhagwaan'
print('My Name Is', name)

My Name Is Mark Is Bhagwaan

temp_celcius = 0
temp_fahrenhite = 9/5 * temp_celcius + 32

In [13]:
temp_celcius = 0.0
temp_fahrenhite = 9/5 * temp_celcius +32

In [14]:
print(temp_fahrenhite)

32.0

In [15]:
print('Temperature In Celcius And Fahrenhite Is', temp_celcius, 'and', temp_fahrenhite, 'respectively')

Temperature In Celcius And Fahrenhite Is 0.0 and 32.0 respectively

In [16]:
start = 'My Inspiration Is '
end =  'Mark Ewans'
print(80 * '*')
print (start + end)
print(80 * '*')

********************************************************************************
My Inspiration Is Mark Ewans
********************************************************************************

In [17]:
college_name = 'Hansraj College'
college_rollno = 8440
college_lat = 65.82
college_lon = 75.07
college_type = 'Metereographs'

In [18]:
type(college_name)

str

In [19]:
type(college_rollno)

int

In [20]:
type(college_lon)

float

In [21]:
college_name_and_rollno = college_name + ' : ' + str(college_rollno)
print(college_name_and_rollno)

Hansraj College : 8440

In [22]:
college_names = ['Hansraj College', 'RLA', 'Hindu College', 'KMC', 'Miranda House']

In [23]:
print(college_names)

['Hansraj College', 'RLA', 'Hindu College', 'KMC', 'Miranda House']

In [24]:
print(college_names[1])

RLA

In [25]:
print(college_names[0])

Hansraj College

In [26]:
type(college_names)

list

In [27]:
len(college_names)

5

In [28]:
print(college_names[len(college_names) - 1])

Miranda House

In [29]:
print(college_names)
print(college_names[-1])

['Hansraj College', 'RLA', 'Hindu College', 'KMC', 'Miranda House']
Miranda House

In [30]:
print(college_names[-5])

Hansraj College

In [31]:
college_types = ['Study College', 'Study College', 'Study College', 'Study College', 'Study College']

In [32]:
print(college_types)

['Study College', 'Study College', 'Study College', 'Study College', 'Study College']

In [33]:
college_types[2] = 'Mareographs'
print(college_types)

['Study College', 'Study College', 'Mareographs', 'Study College', 'Study College']

In [34]:
type(college_types)

list

In [35]:
college_hansraj_college = [college_name, college_rollno, college_lat, college_lon, college_type]

In [36]:
print(college_hansraj_college)

['Hansraj College', 8440, 65.82, 75.07, 'Metereographs']

In [37]:
type(college_hansraj_college)

list

In [38]:
type(college_hansraj_college[0]) # College Name

str

In [39]:
type(college_hansraj_college[1]) # College Rollno

int

In [40]:
type(college_hansraj_college[2]) # College Latitude

float

In [41]:
type(college_hansraj_college[3]) # College Longitude

float

In [42]:
type(college_hansraj_college[4])

str

In [43]:
print(college_names)

['Hansraj College', 'RLA', 'Hindu College', 'KMC', 'Miranda House']

In [44]:
del(college_names[0])

In [45]:
print(college_names)

['RLA', 'Hindu College', 'KMC', 'Miranda House']

In [46]:
college_names.append('Hansraj College Canteen')
college_names.append('Hansraj College LP')

In [47]:
print(college_names)

['RLA', 'Hindu College', 'KMC', 'Miranda House', 'Hansraj College Canteen', 'Hansraj College LP']

In [48]:
video_paused = 54.33

In [49]:
print('video to be resumed tommorrow from' + ' : ' + str(video_paused))

video to be resumed tommorrow from : 54.33

In [50]:
college_names_length = len(college_names)

In [51]:
print(college_names_length)

6

In [52]:
college_names.count('Hansraj College')

0

In [53]:
college_names.index('KMC')

2

In [54]:
print(college_names)

['RLA', 'Hindu College', 'KMC', 'Miranda House', 'Hansraj College Canteen', 'Hansraj College LP']

In [55]:
print(college_names)
college_names.reverse()

['RLA', 'Hindu College', 'KMC', 'Miranda House', 'Hansraj College Canteen', 'Hansraj College LP']

In [56]:
print(college_names)

['Hansraj College LP', 'Hansraj College Canteen', 'Miranda House', 'KMC', 'Hindu College', 'RLA']

In [58]:
college_names.sort()

In [59]:
print(college_names)

['Hansraj College Canteen', 'Hansraj College LP', 'Hindu College', 'KMC', 'Miranda House', 'RLA']